
body {
  font-family: "Alan Sans", sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #222;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
}
.button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
}
.button-primary:hover {
  background-color: var(--primary-hover);
}
